@charset "UTF-8";

/*Colour palette from Adobe Color*/

body {
    background-color: #ECE7E4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; padding: 0;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ECE7E4;
    position: relative;
    min-height: 800px;
    padding-bottom: 100px; /* Height of the footer */
}

h1,h2,h3,p,li {
    margin-left: 15px;
}

header {
    background-color: #D7C6B4;
    background: linear-gradient(to bottom, #D7C6B4 0%, #ECE7E4 100%);
    color: #262626; 
    padding: 25px;

       
}

nav ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

nav li {
    float: left;
}

.button {
    font-size: large;
    text-decoration: none;
    background-color: #D7C6B4;
    color: #262626;
    display: block;
    width: 20%;
    float: left;
    padding: 10px;
    margin: 5px;

}

footer {
    background-color: #D7C6B4;
    background: linear-gradient(to bottom, #D7C6B4 0%, #ECE7E4 100%);
    color: #262626; 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}

figure {
    position: relative;
    width: 150px;
    margin-top: 50px;
    margin-left: 15px;
    padding: 5px;
    border: 1px solid #262626;
    float: left;
}

figure img {
    width: 100%; 
}

video {
    float: right;
    width: 300px;
    padding: 5px;
    margin-top: 50px;
    margin-right: 15px;
}
.project {
    width: 90%;
    min-height: 100px;
    float: left;
    background-color: #D7C6B4;
    margin: 15px;
    opacity: 1; 
    border: 1px solid #262626;

 }

 .field {
    width: 90%;
    min-height: 100px;
    float: left;
    background-color: #D7C6B4;
    margin: 15px;
    opacity: 1; 
    border: 1px solid #262626;
 }

 .button:hover {
    background-color: #B5AFA6;
    color: #262626;
    border: 1px solid #262626;
 }